www/wdzGalleryContent.dtd

<!ELEMENT gallery (images)>
<!ELEMENT images (image*)>
<!ELEMENT image (caption?, thumb?)>
<!ELEMENT caption (#PCDATA)>
<!ELEMENT thumb EMPTY>
<!ATTLIST gallery galleryname CDATA #REQUIRED>
<!ATTLIST gallery hl CDATA "http://placehold.it/210x110">
<!ATTLIST gallery remote CDATA #REQUIRED>
<!ATTLIST image filename CDATA #REQUIRED>
<!ATTLIST image order CDATA #REQUIRED>
<!ATTLIST image display CDATA "1">
<!ATTLIST image url CDATA #REQUIRED>
<!ATTLIST thumb thumburl CDATA #REQUIRED>
